@font-face {
    font-family: 'font/walkway_semiboldregular';
    src: url('font/walkway_semibold-webfont.eot');
    src: url('font/walkway_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_semibold-webfont.woff2') format('woff2'),
         url('font/walkway_semibold-webfont.woff') format('woff'),
         url('font/walkway_semibold-webfont.ttf') format('truetype'),
         url('font/walkway_semibold-webfont.svg#font/walkway_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'font/walkway_oblique_semiboldRg';
    src: url('font/walkway_oblique_semibold-webfont.eot');
    src: url('font/walkway_oblique_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_oblique_semibold-webfont.woff2') format('woff2'),
         url('font/walkway_oblique_semibold-webfont.woff') format('woff'),
         url('font/walkway_oblique_semibold-webfont.ttf') format('truetype'),
         url('font/walkway_oblique_semibold-webfont.svg#font/walkway_oblique_semiboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_oblique_ultraboldRg';
    src: url('font/walkway_oblique_ultrabold-webfont.eot');
    src: url('font/walkway_oblique_ultrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_oblique_ultrabold-webfont.woff2') format('woff2'),
         url('font/walkway_oblique_ultrabold-webfont.woff') format('woff'),
         url('font/walkway_oblique_ultrabold-webfont.ttf') format('truetype'),
         url('font/walkway_oblique_ultrabold-webfont.svg#font/walkway_oblique_ultraboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_oblique_boldregular';
    src: url('font/walkway_oblique_bold-webfont.eot');
    src: url('font/walkway_oblique_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_oblique_bold-webfont.woff2') format('woff2'),
         url('font/walkway_oblique_bold-webfont.woff') format('woff'),
         url('font/walkway_oblique_bold-webfont.ttf') format('truetype'),
         url('font/walkway_oblique_bold-webfont.svg#font/walkway_oblique_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_oblique_blackregular';
    src: url('font/walkway_oblique_black-webfont.eot');
    src: url('font/walkway_oblique_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_oblique_black-webfont.woff2') format('woff2'),
         url('font/walkway_oblique_black-webfont.woff') format('woff'),
         url('font/walkway_oblique_black-webfont.ttf') format('truetype'),
         url('font/walkway_oblique_black-webfont.svg#font/walkway_oblique_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_obliqueregular';
    src: url('font/walkway_oblique-webfont.eot');
    src: url('font/walkway_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_oblique-webfont.woff2') format('woff2'),
         url('font/walkway_oblique-webfont.woff') format('woff'),
         url('font/walkway_oblique-webfont.ttf') format('truetype'),
         url('font/walkway_oblique-webfont.svg#font/walkway_obliqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_boldregular';
    src: url('font/walkway_bold-webfont.eot');
    src: url('font/walkway_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_bold-webfont.woff2') format('woff2'),
         url('font/walkway_bold-webfont.woff') format('woff'),
         url('font/walkway_bold-webfont.ttf') format('truetype'),
         url('font/walkway_bold-webfont.svg#font/walkway_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_blackregular';
    src: url('font/walkway_black-webfont.eot');
    src: url('font/walkway_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_black-webfont.woff2') format('woff2'),
         url('font/walkway_black-webfont.woff') format('woff'),
         url('font/walkway_black-webfont.ttf') format('truetype'),
         url('font/walkway_black-webfont.svg#font/walkway_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'font/walkway_ultraboldregular';
    src: url('font/walkway_ultrabold-webfont.eot');
    src: url('font/walkway_ultrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/walkway_ultrabold-webfont.woff2') format('woff2'),
         url('font/walkway_ultrabold-webfont.woff') format('woff'),
         url('font/walkway_ultrabold-webfont.ttf') format('truetype'),
         url('font/walkway_ultrabold-webfont.svg#font/walkway_ultraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#wrapper {
	width:960px;
	margin:auto;
}
header {
	background-color:#f0eb3c;
	height: 146px;
	margin-bottom:16px;
	background: #F0EB3c url(img/wereld.png) no-repeat right center;
}
#header-text {
	padding-top: 45px;
	padding-left:40px;
	font:60px walkway_oblique_boldregular, Verdana, Arial, Helvetica, sans-serif; 
	color:#545349;
}
#header-left {
	display: block;
}
.menu {
	margin:0 auto; 
	padding:0; 
	height:56px; 
	width:100%; 
	display:block; 
	background-color:#545349;
}
.menu li {
	padding:0;
	margin:0; 
	list-style:none; 
	display:inline;
}
.menu li a {
	float:left; 
	padding-left:15px;
	padding-top:10px; 
	display:block; 
	color:rgb(255,255,255); 
	text-decoration:none; 
	font:30px walkway_ultraboldregular, Verdana, Arial, Helvetica, sans-serif; 
	cursor:pointer; 
}
.menu li a span { 
	line-height:30px; 
	float:left; 
	display:block; 
	padding-right:15px; 
}
.menu li a:hover {
	background-position:0px -60px; 
	color:rgb(255,255,255);
}
.menu li a:hover span {
	background-position:100% -60px;
}
.menu li a.active span, .menu li a.active:hover span {
}
#content {
	width: 660px;
   float: left;
	margin-top: 24px;
	margin-right:42px;
	font-size: 14px;
	font-family: walkway_ultraboldregular;
}
.paragraph {
	margin-top:15px;
}
#header-title {
	font-size: 30px;
}
#sidebar {
	margin-top: 24px;
	width: 238px;
	height: auto;
	background-color: #d0d0d0;
   float: right;
}
#sidebar-title {
	padding-left: 10px;
	font-size: 30px;
	font-family: walkway_ultraboldregular;
}
#sidebar-paragraph {
	padding-left: 15px;
	font-size: 20px;
	font-family: walkway_ultraboldregular;
}
.clear-both {
   clear: both;
}
footer {
	background-color: #545349;
	color:white;
	height:150px;
	width:960px;
	text-align: center;

}
#footer-text {
	padding-top:60px;
	font-size:16px;
}
